<configuration>
   <system.runtime.remoting>
      <application>
      	<lifetime
      		leaseTime="5M"
      		sponsorshipTimeout="5M"
      		renewOnCallTime="5M"
      		leaseManagerPollTime="1M"
      		/>
         <channels>
				<channel ref="tcp" port="8737"/>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
