<configuration>
	<system.runtime.remoting>
		<application>
      		<lifetime
      			leaseTime="10M"
      			sponsorshipTimeout="10M"
      			renewOnCallTime="10M"
      			leaseManagerPollTime="1M"
      		/>

			<channels>
				<channel ref="tcp" port="0"/>
			</channels>
		</application>
	</system.runtime.remoting>
	<appSettings>
		<add 
			key="RemoteHostUri"
			value="tcp://127.0.0.1:8737"
		/>
	</appSettings>
</configuration>
